.layout {
  background: linear-gradient(rgb(164, 188, 198), rgb(103, 145, 159));
}

.login-page {
  width: 400px;
  border: 1px solid rgb(218, 218, 218);
  padding: 2rem;
  border-radius: 5 px;
  margin: auto;
  box-shadow: -5px 5px 5px rgb(230, 230, 230, 0.64);
}
